.content {
    padding: 40px;
    background: rgba(131, 106, 114, 0.55);
    border-radius: 5px 5px 5px 5px;
    margin: 20px;
}

.text-input-labels {
    background: #007bff;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    color: #ffffff;
}